
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url("nyc.jpg"); 
  min-height: 100%;
  background-position: center;
  background-size: cover;}

  .w3-container>h5{
    color: black;
  }
.images{
  width: 300px;
}
.skills-page{
  margin: 10px;
}